.login {
  background-image: url(../Background.svg);
  position: relative;
  height: 705px;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
}

.login > h1 {
  color: rgb(228, 227, 238);
  position: relative;
  text-align: center;
  font-size: 70px;
  text-shadow: 5px 5px #000000;
}
