.app {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Kaushan Script', cursive;
}

.app::-webkit-scrollbar {
  display: none;
}

.app {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
